<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @testimony.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @testimony.name %>
</p>

<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
